@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/*reset*/
* {
    padding: 0;
    margin: 0;
}

/*background image*/
.container {
    width: 100%;
    height: 100vh;
    background-image: url(./images/2202_w023_n001_1896b_p1_1896.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*start styling content*/
.container .content {
    width: 50%;
    height: 80vh;
    background-color: rgba(18, 6, 56, 0.9);
    border-radius: 20px;
    box-shadow: 2px 4px 50px 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-heading, #main-txt, #info-txt {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#main-heading {
    color: whitesmoke;
    font-size: 4rem;
    font-weight: 600;
}

#main-txt {
    color: whitesmoke;
    font-size: 2rem;
    font-weight: 400;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    gap: 66px;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.img-container button {

    background-position: center;
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 200px;
    border: 15px solid #32adbd;
    box-shadow: 2px 4px 50px 10px rgba(245, 245, 245, 0.4);
}

.img-container button:hover {
    box-shadow: 2px 4px 50px 10px rgba(0, 0, 0, 0.4);
    border: 15px solid rgba(50, 173, 189, 0.3);
}

#rock {
    background-image: url("./images/rock.png");
}

#paper {
    background-image: url("./images/paper.png");
}

#scissors {
    background-image: url("./images/scissors.png");
}

#info-txt {
    color: whitesmoke;
    font-size: 1.3rem;
    font-weight: 400;
}